.bookings-container {
    display: flex;
    flex-wrap: wrap;
 
  }
  
  .booking-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #ded8ef ;
  }


.booking-info {
    margin: 10px 0;
    line-height: 1.5;
  }
  
  
  h1 .c {
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #555;
  }
  
  strong {
    color: #555;
    font-weight: bold;
  }
  
  
  


  
  .booking-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .booking-info {
    margin-bottom: 8px;
  }
  
  .iconsc {
    display: flex;
    align-items: center;
  }
  
  .iconsc i {
    margin-right: 5px;
  }
  
  /* Adjust the space between the icons and description */
  .iconsc p {
    margin-left: 10px;
  }
  
  
  .booking-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .booking-info {
    margin-bottom: 8px;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons i {
    margin-right: 10px; /* Adjust the space between the icons and the description */
  }
  
  .icons p {
    flex: 1; /* Take up remaining space to the right */
  }
  .highlight {
    color: #6d2480; /* Set your desired color */
    font-weight: bold;
  }
/* Apply basic styling to the button */
button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;   /* Adjust font size as needed */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 8px; /* Adjust border-radius for rounded corners */
  color: #fff;       /* Set text color */
  background-color: #6d2480; /* Set background color */
}

/* Apply styles when hovering over the button */
button:hover {
  background-color:#a545bd; /* Change background color on hover */
}

  
  